<a href="https://colab.research.google.com/github/yuningrumzattayu/Study-Machine-Learning/blob/main/splitting_data_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

Developer = pd.DataFrame({'Name' : ['Yuningrum Zattayu', 'Joko Mustopo', 'Dian Afriani'], 'Age':[30, 26, 22]})

print("Machine Learning Developer di Indonesia :\n", Developer)

Machine Learning Developer di Indonesia :
                 Name  Age
0  Yuningrum Zattayu   30
1       Joko Mustopo   26
2       Dian Afriani   22

In [4]:
# spliting data
Developer [['First', 'Last']] = Developer.Name.str.split(expand=True)
print("\n Split kolom 'Name', lalu tambahkan kedua kolom : \n", Developer)

 Split kolom 'Name', lalu tambahkan kedua kolom :
                 Name  Age      First     Last
0  Yuningrum Zattayu   30  Yuningrum  Zattayu
1       Joko Mustopo   26       Joko  Mustopo
2       Dian Afriani   22       Dian  Afriani